* {
  box-sizing: border-box;
}

.popupSymbolsRow {
  display: inline-flex;
  align-items: center;
  column-gap: 24px;
  width: 1916px;
  height: 68px;

  .popupSymbolPart1 {
    line-height: 24px;
    letter-spacing: 0;
    color: #1d2233;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .popupSymbolIcon {
    border-radius: 8px;
    background: #f5f6f7;
    width: 40px;
    height: 40px;
  }

  .popupSymbolInfo {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #d9d9d9;
    padding: 14px 30px;
    width: 240px;
    min-width: 240px;
    height: 68px;
  }

  .popupSymbolInfo2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #d9d9d9;
    padding: 14px 30px;
    width: 200px;
    min-width: 200px;
    height: 68px;
  }

  .popupSymbolInfo3 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #d9d9d9;
    padding: 14px 30px;
    width: 220px;
    min-width: 220px;
    height: 68px;
  }

  .popupSymbolInfo4 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    background: #d9d9d9;
    padding: 14px 30px;
    width: 208px;
    min-width: 208px;
    height: 68px;
  }
}
