* {
  box-sizing: border-box;
}

.solutionsTextContain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 64px 49px 20px;
  width: 180px;
  height: 238px;
  row-gap: 40px;

  .solutionsHeading {
    flex-shrink: 0;
    line-height: 29px;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  .solutionsLinks {
    flex-shrink: 0;
    align-self: stretch;
    width: 96px;
    line-height: 40px;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
