* {
  box-sizing: border-box;
}

.productsTextContaine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px 169px 20px;
  width: 180px;
  height: 318px;
  row-gap: 40px;

  .productsHeading {
    flex-shrink: 0;
    align-self: stretch;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  .productsLinks {
    flex-shrink: 0;
    align-self: stretch;
    width: 120px;
    line-height: 40px;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
}
