* {
  box-sizing: border-box;
}

.productTitle {
  width: 160px;
  height: 38px;
  line-height: 38px;
  letter-spacing: 0;
  color: #000000;
  font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
}
