* {
  box-sizing: border-box;
}

.group2 {
  position: relative;
  border-radius: 16px;
  background: #f5f6f7;
  width: 342px;
  height: 200px;

  .frame147 {
    position: absolute;
    top: 51px;
    left: 4px;
    width: 334px;
    height: 109px;
  }

  .achievementText {
    position: absolute;
    top: 40px;
    left: 45px;
    width: 252px;
    height: 105px;
    text-align: center;
    line-height: 48px;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
}
