* {
  box-sizing: border-box;
}

.cat {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  width: 84px;
  height: 19px;

  .learnMoreText {
    flex-shrink: 0;
    line-height: 19px;
    letter-spacing: 0;
    color: #0d99ff;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .autoWrapper {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;

    .arrowIcon {
      position: absolute;
      top: -1px;
      left: 1px;
      width: 16px;
      height: 16px;
      rotate: -90deg;
    }
  }
}
