* {
  box-sizing: border-box;
}

.trialButtonContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border: 1px solid var(--color, #0d99ff);
  border-radius: 8px;
  padding: 11px 19px;
  width: 120px;
  height: 48px;

  .trialButton {
    flex-shrink: 0;
    line-height: 24px;
    letter-spacing: 0;
    color: #0d99ff;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
}
