* {
  box-sizing: border-box;
}

.dropdownBackground {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color, #0d99ff);
  border-radius: 8px;
  background: #ffffff;
  padding-right: 15px;
  padding-left: 9px;
  width: 228px;
  height: 40px;

  .dropdownLabel {
    opacity: 0.6;
    line-height: 40px;
    letter-spacing: 0;
    color: #000000;
    font-family: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
  }
}
