* {
  box-sizing: border-box;
}

.productIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  border-radius: 8px;
  background: var(--text, #1d2233);
  padding: 10px;
  width: 44px;
  height: 44px;

  .cartUndefinedGlyphUn {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }
}
